@import "footer.css";
@import url('https://fonts.googleapis.com/css?family=Hind');


html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  background-color: lightgrey;
}

h1 {
margin-top: 9px;
margin-bottom: 0px;
}

h1, h3, h4 {
  text-align: center;
}

h1, h3, h4, p {
  font-family: 'Hind', sans-serif;
}

p {
  /*text-indent: 2em;*/
}

a {
  color: #40745F;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

ul {
  list-style: none;
  text-align: center;
  position: fixed;
}

footer {
  text-align: center;
}

@media only screen and (max-width: 600px) {
    ul {
        position: relative;
    }
}

.bottom-margined {
  margin-bottom: 30px;
}
