{% extends "base_area_content.html" %}
{% block title %}USA{% endblock %}
{% block content %}
<h1>Austria</h1>
<p><a href="https://www.austria.info/us/g">Emergency call(without area code)</a></p>
<p>Police: 133</p>
<p>Euro-emergency number 112</p>
<p>Fire brigade: 122</p>
<p>Ambulance: 144</p>
<p>Doctor-on-call 141</p>
<p>Mountain rescue 140</p>
<p>ÖAMTC emergency breakdown service: 120</p>
<p>ARBÖ emergency breakdown service: 123</p>
<p> <a href="http://www.frauenhelpline.at/">Women’s Helpline (Several languanges)</a> Call: 0800-222555</p>
<p> <a href="http://www.infovictims.at/at_en/006_servicos/paginas/006_001.html">Protection and Help for Victims</a>
Victim-Emergency Call: 0800 112 112</p>
<p> <a href="https://www.wien.gv.at/english/social/women/services/emergency-helpline.html">Wien city women emergency support</a> 24-Hours call: 01 71 71 9 </p>
<p>Services: </p>
<p>24-hour emergency aid; </p>
<p>Telephone and personal counselling (languages:German, English, Italian); </p>
<p>Email counselling: frauennotruf@wien.at; </p>
<p>Women’s Emergency Helpline Forum, where users can exchange experiences and provide each other with advice;</p>
<p>Assistance and support with reports to the police(Court proceedings,Medical examinations);</p>



{% endblock %}
