{% extends "base_area_content.html" %}
{% block title %}Australia{% endblock %}

{% block header %}<h1 class="bottom-margined">Australia</h1>{% endblock %}

{% block content %}
<h3>National Information </h3>
<p>Get help in an emergency or disaster situation.</P>
<p>Police/Fire/Ambulance: 000</p>
<p>SES assistance in floods and storms: 132 500</p>
<p>Police attendance: 131 444 (all states except Victoria)</p>
<p>International incident emergency helpline: 1300 555 135 (within Australia)</p>
<p>Outside Australia - external site: +61 2 6261 3305</p>
<p> <a href="https://www.australia.gov.au/information-and-services/public-safety-and-law/police-and-crime-prevention">Australian Government provided information on safety and rights. </a> </p>
<p><a href="http://www.nswrapecrisis.com.au/">Rape & Domestic Violence Services Australia</a> 24/7 Counselling Phone: 1800 424 017</p>
<p> <a href="https://au.reachout.com/articles/sexual-assault-support">Australian national and reginal sexual assault support information </a> Free 24/7 Phone: 1800 737 732 </p>
<p> <a href="https://www.1800respect.org.au/"> Online Chat 24/7 Sexual Assault, Family & Domestic Violence Counselling</a>.</p>

<h3>Reginal Information </h3>
<p><a href="http://www.health.nsw.gov.au/kidsfamilies/protection/Pages/sexual-assault-services.aspx"> Sexual Assault Services </a> Contact addresses for the NSW Ministry of Health </p>
<p>Within Australia Call (02) 9391 9000; Outside Australia Call 61 2 9391 9000</p>
<p> <a href="https://brissc.org.au/">Brisbane Rape and Incest Survivors Support Centre </a>Phone: 07 3391 0004 Email: admin@brissc.org.au</p>
<p>BRISSC provides free support and counselling services to women (over the age of 15 years) who have experienced sexual violence at any time in their lives.</p>


{% endblock %}
