{% extends "base.html" %}
{% block title %}China{% endblock %}
{% block content %}
<h1>China 中国</h1>

<h3>National Information</h3>
<p> Call 110 if you are in emergency.
Please call from a safe place </p>
<p> Notice: Most police officers in China ONLY speak Chinese Mandarin, some of them speak English. HELP in Chinese Mandarin pronounces " JIU JIU WO" </p>
<p> 请拨打110报警.请在安全地点拨打，大多数警察说汉语，有的会说英语，"我要报案。" </p>
<p> <a href="http://www.npc.gov.cn/wxzl/gongbao/2000-12/17/content_5004680.htm">中国刑法 </a>. </p>
<p> <a href="https://chengyusan.cn/wo-yao-qiu-zhu"> 公益团体 橙雨伞 </a>. </p>
<p> <a href="http://www.whiteribbon.cn/ ">中国白丝带志愿者网络 </a>.白丝带热线 Hotline: 4000110391 (每天 Everyday 8：00-22：00)</p>

<h3>Beijing 北京</h3>
<p> <a href="http://www.bjwomen.gov.cn/web/">北京妇联维权信箱网址 </a> </p>
<p> 北京市妇联
北京市妇女维权服务热线 Hotline：12338 每周三、五上午9：30-11：30 </p>
<p> 接待来访咨询: 北京市东城区正义路一号市委市政府信访接待室院内</p>
<p> 北京千千律师事务所 (Law firm): Hotline：010-8431639 010-84833270</p>
<p> 地址：北京市朝阳区北四环东路108号千鹤家园3号楼1304室</p>
<p> 北京红枫妇女心理咨询服务中心（中国管理科学研究院妇女研究所,Women therapy center）</p>
<p> 公益热线 Hotline：010-64033383, 010-64073800, 010-68333388</p>
<p> 地址：北京西城区右安门内大街72号万博苑小区3号楼104室 </p>
<p> 受暴妇女儿童法律帮助热线，周一到周五9：00-17：00，Tel：010-89941101</p>
<p> 微博：@源众反暴力热线 </p>

<h3>Shanghai 上海</h3>
<p> <a href="http://www.shwomen.org/renda/08women/wqyz/u1a1630340.html">上海妇联反家庭暴力庇护救助中心 (Support center  against voilence to women and children)</a> </P>
<p>Hotline：021- 63011260 地址: 蒙自路430号（上海市救助管理站内）</p>
<p> <a href="http://www.shwomen.org/renda/08women/wqyz/wsbs/u1a1577824.html"> 上海妇联法律援助办事指南 (Shanghai women legal support guide) </a>.</p>
<p> 上海市妇女法律援助中心 (Shanghai women legal support hotline)</p>
<p> 地址：上海市天平路245号3号楼底楼（近徐家汇）电话: 021- 64330001</p>
<p> <a href="www.baiyulanhome.com">上海市妇联白玉兰开心家园社 </a>
地址：上海市天平路245号巾帼园四楼</p>

<h3> Guangzhou 广州 </h3>
<p> 广州市妇联妇女儿童维权热线：Hotlline for women and children 020-38613861 </p>
<p> <a href="http://www.gzwoman.org.cn/gzwoman/wqfwz/fnwq_index.shtml">广州市妇女维权与信息服务站</a></p>
<p> 预约服务热线 Call：020- 38613861（Women and Children 妇女儿童）</p>
<p>            Call: 020-83838125（Therapy 心理辅导）</p>
<p>预约时间：周一至周五上午 8：30－12：00，下午 afternoon 2：30—5：30</p>
<p>预约内容：社工个案辅导、律师法律咨询、心理咨询服务</p>
<p>地址：广州市越秀区德政中路龙虎墙61号二楼</p>

<h3>HongKong 香港</h3>

<h3>Macau 澳门</h3>

<h3>Taiwan 台湾</h3>
{% endblock %}
