{% extends "base_area_content.html" %}
{% block title %}China{% endblock %}
{% block header %}<h1 class="bottom-margined">China 中国</h1>{% endblock %}

{% block content %}
<h3>National Information</h3>
<p>Emergency Call 110.
Please call from a safe place </p>
<p> Notice: Most police officers in China ONLY speak Chinese Mandarin, some of them speak English. HELP in Chinese Mandarin pronounces " JIU JIU WO" </p>
<p> 请拨打110报警.请在安全地点拨打. </p>
<p> <a href="http://www.npc.gov.cn/wxzl/gongbao/2000-12/17/content_5004680.htm">中国刑法 </a>. </p>
<p> <a href="https://chengyusan.cn/wo-yao-qiu-zhu"> 公益团体 橙雨伞 </a>. </p>
<p> <a href="http://www.whiteribbon.cn/ ">中国白丝带志愿者网络 </a>.白丝带热线 Hotline: 4000110391 (每天 Everyday 8：00-22：00)</p>

<h3>Beijing 北京</h3>
<p> <a href="http://www.bjwomen.gov.cn/web/">北京妇联维权信箱网址 </a> </p>
<p> 北京市妇联
北京市妇女维权服务热线 Hotline：12338 每周三、五上午9：30-11：30 </p>
<p> 接待来访咨询: 北京市东城区正义路一号市委市政府信访接待室院内 </p>
<p> 北京千千律师事务所 (Law firm): Hotline：010-8431639 010-84833270 </p>
<p> 地址：北京市朝阳区北四环东路108号千鹤家园3号楼1304室 </p>
<p> 北京红枫妇女心理咨询服务中心（中国管理科学研究院妇女研究所,Women therapy center）</p>
<p> 公益热线 Hotline：010-64033383, 010-64073800, 010-68333388</p>
<p> 地址：北京西城区右安门内大街72号万博苑小区3号楼104室 </p>
<p> 源众受暴妇女儿童法律帮助热线：010-89941101；010-82281106（周一到周五9:00-17:00).如果遇到了家庭暴力、性别暴力（强奸、性骚扰）以及其他相关的暴力事件，都可以拨打热线电话！会有专业的工作人员为你们解答法律上的困惑。特别想强调的是，并不需要下定决心到要离婚的时候才可以拨打电话。只要你遇到了暴力事件就可以拨打电话，还有其他的法律程序都可以保护你。另外想强调的是，源众也欢迎多元性别人群拨打法律热线咨询.</p>
<p> 紧急法律援助：由律师提供法律援助，包括申请告诫令、人身安全保护令、撰写离婚诉状等。如果您有这方面的需求，请拨打010-89941101或者是010-82281106与源众联系。值得一提的是，未成年人也可以申请这个紧急救助金.</p>
<p>如果您有庇护需求的话，可以直接拨打热线010-89941101和010-82281106。全国各地其实目前都有各类的庇护场所，不过大家对他们的了解可能比较少。如果需要的话，可以直接拨打12338或者是源众的电话，会帮大家联系您当地的庇护场所。</p>

<h3>Shanghai 上海</h3>
<p> <a href="http://www.shwomen.org/renda/08women/wqyz/u1a1630340.html">上海妇联反家庭暴力庇护救助中心 (Support center  against voilence to women and children)</a> </P>
<p>Hotline：021- 63011260 地址: 蒙自路430号（上海市救助管理站内）</p>
<p> <a href="http://www.shwomen.org/renda/08women/wqyz/wsbs/u1a1577824.html"> 上海妇联法律援助办事指南 (Shanghai women legal support guide) </a>.</p>
<p> 上海市妇女法律援助中心 (Shanghai women legal support hotline)</p>
<p> 地址：上海市天平路245号3号楼底楼（近徐家汇）电话: 021- 64330001</p>
<p> <a href="www.baiyulanhome.com">上海市妇联白玉兰开心家园社 </a>
地址：上海市天平路245号巾帼园四楼</p>

<h3> Guangzhou 广州 </h3>
<p> 广州市妇联妇女儿童维权热线：Hotlline for women and children 020-38613861 </p>
<p> <a href="http://www.gzwoman.org.cn/gzwoman/wqfwz/fnwq_index.shtml">广州市妇女维权与信息服务站</a></p>
<p>预约服务热线：020- 38613861（Women and Children 妇女儿童. Call: 020-83838125（Therapy 心理辅导）</p>
<p>预约时间：周一至周五上午 8：30－12：00，下午 afternoon 2：30—5：30</p>
<p>预约内容：社工个案辅导、律师法律咨询、心理咨询服务. 地址：广州市越秀区德政中路龙虎墙61号二楼</p>

<h3>HongKong 香港</h3>
<p>Emergency Call 999 (police, fire, ambulance)</p>
<p> <a href="https://www.swd.gov.hk/vs/text_sc/welfare.html">香港社会福利署 - 支援虐儿、虐待配偶 / 同居情侣及性暴力受害人服务.Social Welfare Department - Support for Victims of Child Abuse, Spouse / Cohabitant Battering and Sexual Violence</a>.</p>
<p>保护家庭及儿童服务课(中西南及离岛)</p>
<p>地址:香港湾仔轩尼诗道130号修顿中心23楼2313室 电话:2835 2733 传真:3107 0051</p>

<p>保护家庭及儿童服务课(东区及湾仔)</p>
<p>地址:香港北角渣华道333号北角政府合署2楼229室 电话:2231 5859 传真:2164 1771</p>

<p>保护家庭及儿童服务课(观塘)</p>
<p>地址:九龙九龙湾临乐街19号南丰商业中心5楼502室 电话:2707 7681 传真:2717 7453</p>

<p>保护家庭及儿童服务课(黄大仙及西贡)</p>
<p>地址:九龙黄大仙正德街104号黄大仙社区中心三楼 电话:3188 3563 传真:3421 2535</p>

<p>保护家庭及儿童服务课(深水埗)</p>
<p>地址:九龙长沙湾发祥街55号长沙湾社区中心地下 电话:2247 5373 传真:2729 6613</p>

<p>保护家庭及儿童服务课(九龙城及油尖旺)</p>
<p>地址:九龙弥敦道405号九龙政府合署8楼803室 电话:3583 3254 传真:3583 3137</p>

<p>保护家庭及儿童服务课(沙田)</p>
<p>地址:新界沙田上禾輋路1号沙田政府合署7楼716室 电话:2158 6680 传真:2681 2557</p>

<p>保护家庭及儿童服务课(大埔及北区) </p>
<p>地址:新界大埔墟乡事会街8号大埔综合大楼4楼 电话:3183 9323 传真:3104 1357</p>

<p>保护家庭及儿童服务课(荃湾及葵青)</p>
<p>地址:新界荃湾西楼角路38号荃湾政府合署21楼 电话:2940 7350 传真:2940 6421</p>

<p>保护家庭及儿童服务课(屯门)</p>
<p>地址:新界屯门安定邨安定友爱社区中心4楼 电话:2618 5710 传真:2618 7976</p>

<p>保护家庭及儿童服务课(元朗)</p>
<p>地址:新界元朗天水围天华华悦楼地下 电话:2445 4224 传真:2445 9077</p>

<p>妇女庇护中心</p>
<p>现时本港有五间地址保密的妇女庇护中心提供临时居所和支援服务予面临家庭暴力或家庭危机的妇女及其子女，分别是维安中心、和谐之家、恬宁居、昕妍居及晓妍居。庇护中心会提供廿四小时入住宿舍服务。庇护中心接受直接申请或任何机构的转介.</p>
<p> <a href="http://www.poleungkuk.org.hk">维安中心</a> 热线电话：8100 1155 </p>
<p> <a href="http://www.harmonyhousehk.org">和谐之家</a> 热线电话：2522 0434 </p>
<p> <a href="http://www.cfsc.org.hk">恬宁居</a> 热线电话：2381 3311 </p>
<p> <a href="http://www.poleungkuk.org.hk">昕妍居</a> 热线电话：8100 1155 </p>
<p> <a href="http://www.poleungkuk.org.hk">晓妍居</a> 热线电话：8100 1155 </p>

<p> <a href="http://ceasecrisis.tungwahcsd.org"> 危机介入及支援中心芷若园</a> 24小时热线：18281</p>
<p>东华三院营办的芷若园是一项危机介入支援服务，主要为性暴力受害人，面临家庭暴力或其他家庭危机的个人或家庭，提供全面的援助，包括24小时热线、外展服务和短期住宿服务。 芷若园接受直接申请或任何机构的转介.</p>

<h3>Macau 澳门</h3>
<p> Emergency Call 999</p>
<p> two more emergency hotline numbers: 110 (mainly for tourists from mainland China) and 112 (mainly for tourists from overseas).Calls made to 110 and 112 are redirected to the 999 call centre.</p>
<p> <a href="http://www.ias.gov.mo/wp-content/themes/ias/en/aboutus/departments/hotline_ias.htm">澳门特别行政区政府社会工作局</a>.</p>
<p>Helpline for victims of domestic violence.Call 2823 3030.</p>
<p>Available 24 hours a day and assisted by social service professionals, the Helpline for victims of domestic violence provides service for individuals or family members who suffer or are at risk of suffering from domestic violence. It aims to reduce the risk and harm caused by domestic violence, ensure the safety of victims, provide integrated assistance for the victims to overcome the crisis and promote harmony in society and family.</p>

<h3>Taiwan 台湾</h3>
<p>#Information contributor: Natalie, Fuquan.</p>
<p>Emergency Call 110 报警</p>
<p>113 婦幼保護專缐</p>
<p>自殺防治專線（24小時）：0800-788-995</p>
<p>生命線：1995</p>
<p> <a href="https://www.twrf.org.tw/tc/index.php"> Taipei Women's Rescue Foundation (TWRF) 妇女救援基金会 </a>.</p>
<p>Address:台北市大同區民生西路240號10樓  電話 Phone：02-2555-8595 傳真 Fax：02-2555-5995; 目睹兒諮詢專線：02-2555-5915.</p>
<p>電子信箱 Email： master@twrf.org.tw </p>


{% endblock %}
