{% extends "base_area_content.html" %}
{% block title %}Finland{% endblock %}
{% block header %}<h1 class="bottom-margined">Finland</h1>{% endblock %}

{% block content %}
<h3>National Information</h3>
<p>Emergency Call 112</p>
<p> <a href="https://www.naistenlinja.fi/en/">WOMEN’S LINE 0800 02400</a></p>
<p>Women’s Line is meant for every woman and girl suffering from abuse, threats or fear. Volunteered women trained by Women’s Line answer the phone. All calls are confidential and free-of-charge.</p>
<p>in English on Fridays 16-20,</p>
<p>in Finnish from Mondays to Fridays 16-20, Saturdays and Sundays 12-16.</p>
<p>in Swedish on Wednesdays 16-20.</p>

{% endblock %}
