{% extends "base_area_content.html" %}
{% block title %}Finland{% endblock %}
{% block header %}<h1 class="bottom-margined">Finland</h1>{% endblock %}

{% block content %}
<h3>National Information</h3>
<p>Emergency Call 112</p>
<p> <a href="https://www.naistenlinja.fi/en/">NAISTEN LINJA / WOMEN’S LINE. </a>call 0800 02400 (Fridays 16-20 o’clock)</p>
<p>English on Fridays 16-20,</p>
<p>Finnish from Mondays to Fridays 16-20, Saturdays and Sundays 12-16.</p>
<p>Swedish on Wednesdays 16-20.</p>
<p>Women’s Line is meant for every woman and girl suffering from abuse, threats or fear. Volunteered women trained by Women’s Line answer the phone. All calls are confidential and free-of-charge.call 0800 02400.</p>
<p>You don’t have to think about whether what you have experienced should be categorized as mental suppression, physical abuse, sexual harassment or a rough domestic fight. Everyone is capable of acting violently: your current or former spouse, your neighbor or someone you have never met. You can also call us if you are concerned about a loved-one. It is enough that you wish to discuss matters of violence.</p>
<p>We are on your side. We will listen to you. If you need advice we are qualified to help you: we will give you safety instructions and help you to find assistance in your home region.</p>
<p>When calling us, you decide how much you wish to tell about yourself. Your phone number will never come to our knowledge and no phone calls will be recorded. When calling from Finland, all phone calls made to Women’s Line are free-of-charge and they will not appear in your phone bill.</p>

{% endblock %}
