{% extends "base.html" %}
{% block title %}Germany{% endblock %}
{% block content %}

<h1>Germany </h1>

<p>#Information provided by Simone Catania</p>
<h3>Emergency Calls (several)</h3>
<p>110 : Polizei (Police)</p>
<p>112 : Feuerwehr Rettungsdienst (Firemen)</p>
<p>116, 117: Notdienst (health Emergency)</p>
<p>Kinder- und Jugendtelefon (Children support number) Call 0800 40 40 020</p>
<p> <a href="https://www.hilfetelefon.de/gewalt-gegen-frauen.html">National sexual assault support hotline number and website“Gewalt gegen Frauen” (Violence against women) </a>Call 08000 116016</p>
<p> <a href="https://www.hilfetelefon.de/das-hilfetelefon/beratung/online-beratung/chat-beratung.html">Chat support</a></p>
<p> <a href="http://www.blumenwiesen.org/notruf.html">A long list of support center</a></p>
<p> <a href="https://www.lara-berlin.de/angebote/willkommen/">LARA Crisis Center for Women(several languages)</a> </p>
<p> Call: 216 88 88; E-Mail: beratung@lara-berlin.de</p>
<p> <a href="http://www.frauenhorizonte.de/">Frauenhorizonte (Center for Sexually Assaulted Women)</a> </p>
<p>24 Stunden Notruf (24 hours call): 0761 2 85 85 85; E-Mail: info@frauenhorizonte.de </p>
<p> Anlauf- und Fachberatungsstelle Frauenhorizonte - Gegen sexuelle Gewalt e.V. Basler Straße 8 79100 Freiburg </p>



{% endblock %}
