{% extends "base_area_content.html" %}
{% block title %}Hungary{% endblock %}
{% block header %}<h1 class="bottom-margined">Hungary</h1>{% endblock %}

{% block content %}
<h3>National Information</h3>
<p>Emergency Call 112</p>
<p> <a href="http://nane.hu/">Women Together Against Violence</a></p>
<p>HELPLINE FOR ABUSED WOMEN AND CHILDREN Call 06-80-505-101 EVERY WEEKDAY BETWEEN 18 AND 22</p>
<p>HELPLINE FOR SURVIVORS OF SEXUAL VIOLENCE Call 06-30- 982-5469 LETTERS AT 10-14 HOURS</p>

{% endblock %}
