{% extends "base_area_content.html" %}
{% block title %}India{% endblock %}
{% block header %}<h1 class="bottom-margined">India</h1>{% endblock %}

{% block content %}
<h3>National Information</h3>
<p> Emergency Call 100 </p>
<p> Fire brigade (101), ambulance (102) and Emergency Disaster Management (108)</p>
<p> Telecom operators have been asked to direct all emergency calls to 112.</p>
<p> <a href="http://indianhelpline.com/">Indian Helpline.com</a> INDIA'S ORGANIZED EMERGENCY DATABASE </p>
<p> <a href="http://www.newincept.com/helpline-numbers-all-over-in-india.html">List of emergency Helpline numbers All Over in India </a></p>
<p>The Government of India provides a single helpline number for all over in India offered by the Government agencies. These toll-free numbers are running across all states in India and available 24x7. The toll-free numbers/helplines are telephone and SMS based services which help to the callers regarding various government services.</p>

<p> <a href="https://mohfw.gov.in/sites/default/files/953522324.pdf">Medico legal care for survivors victims of sexual violence</a>.By Ministry of Health & Family Welfare government of India (2013) </p>

{% endblock %}
