<h1>Italy </h1>

<h3>#Information provided by Simone Catania, Filippo Sbarbaro</h3>
<h3>Emergency Calls (several)</h3>
<p>112 : Carabinieri</p>
<p>113 : Police</p>
<p>114 : Emergenza infanzia (Children emergency)</p>
<p>115 : Vigili del Fuoco (Firemen)</p>
<p>118 : Emergenza sanitaria (Health emergency)</p>
<p> <a href="https://www.telefonorosa.it/ ">National sexual assault support hotline number and website </a>.Call: 06 37518282</p>
<p>Every hospital has a first aid ward , it is free, where they give support to the victim and they will call the police.</p>
<p> <a href="http://www.adocnazionale.it/centri-anti-violenza-lelenco-completo/">List of all Italian Sexual Assault support centers for Women</a></p>