{% extends "base.html" %}
{% block title %}Japan{% endblock %}
{% block content %}
<h1>Japan</h1>

<h3>National Information 日本全国的な情報</h3>
<p> Call 110 if you are in emergency.Please call from a safe place </p>
<p> Notice: Most police officers in Japan ONLY speak Japanese.HELP in Japanese pronounces " TASUKETE" </p>
<p> 性犯罪被害相談電話全国共通番号「＃８１０３（ハートさん）」ダイヤルすると発信された地域を管轄する各都道府県警察の性犯罪被害相談電話窓口につながります。</p>
<p> <a href="http://www.houko.com/00/01/M40/045.HTM"> Criminal Law in Japan </a>. 日本の刑法 (Japanese) </p>
<p> <a href="https://telljp.com/"> Tell jp, English Counseling in Tokyo </a>. Life Line: 03-5774-0992 (Japan Time 9am – 11pm every day) </p>
<p> <a href="https://sarc-tokyo.org/"> 性犯罪救援センター,Sexual Assault Relief Center Tokyo (In Japanese) </a>. 24時間相談電話：03-5607-0799 </p>
<p> 法テラス犯罪被害者支援ダイヤル：0570-079714 平日9:00~21:00土曜日9:00~17:00 </p>
<p> 心理的に良くなるためにお医者さんが書いた資料を読んで、正しい考え方で生活しましょう。</p>
<p> 国立精神、神経医療研究センターの先生が書いた回復のためのパンフレット </p>
<p> <a href="http://victims-mental.umin.jp/pdf/shiryo_hitorijanaiyo.pdf"> 「一人じゃないよ」日本語　</a>. </p>
<p> <a href="http://victims-mental.umin.jp/koe.html"> 犯罪被害者の声 </a>. </p>
<p> <a href="http://www.kensatsu.go.jp/higaisha/index.htm">検察庁 トップページ>犯罪被害者の方々へ </a>.</p>
<p> <a href="http://www.npa.go.jp/higaisya/home.htm"> 警察庁 警察による犯罪被害者支援ホームページ </a>. </p>
<p> <a href="http://www.houterasu.or.jp/higaishashien/"> 法テラス(日本司法支援センター) ホーム>法テラス犯罪者被害者支援 </a>.</p>
<p> <a href="https://www.nichibenren.or.jp/activity/human/victim/whole_country.html">日本弁護士連合会 HOME > 法律相談ガイド > 犯罪の被害に遭われた方へ </a>.</p>
<p> <a href="http://www.mhlw.go.jp/kokoro/support/mhcenter.html"> 全国の精神保健福祉センター一覧(厚生労働省)</a>.</p>
<p> <a href="https://warriorsjapan.webs.com"> Warriors Japan, an Austrilian survivor telling her story of pursuing justice,with useful resources</a>.</p>




{% endblock %}
