{% extends "base_area_content.html" %}
{% block title %}Norway{% endblock %}
{% block header %}<h1 class="bottom-margined">Norway</h1>{% endblock %}

{% block content %}
<h3>National Information</h3>
<p>Emergency Call 112</p>
<p>Fire 110</p>
<p>Medical Emergency 113</p>
<p> <a href="https://www.rcne.com/contact/countries/norway/">Norway | Rape Crisis Network Europe</a></p>
<p>Telephone (support): +47 22 44 40 50; +47 930 58 070</p>
<p> <a href="https://www.udi.no/en/word-definitions/violence-in-the-family--domestic-violence/">Violence in the family / domestic violence</a></p>
<p>If a person is subjected to physical or psychological violence or threats from their family members or former family members, that is called domestic violence. This also concerns children who experience violence in the family.</p>


{% endblock %}
