{% extends "base_area_content.html" %}
{% block title %}Portugal{% endblock %}
{% block header %}<h1 class="bottom-margined">Portugal</h1>{% endblock %}

{% block content %}
<h3>National Information</h3>
<p>Emergency Call 112</p>
<p>Ambulance: 112</p>
<p>Child abuse: 213 433 333</p>
<p>Crisis Line: 800 202 669 / 213 544 545</p>
<p>Drug abuse: 1414</p>
<p>Fire: 112</p>
<p>Spousal abuse: 800 202 148</p>
<p>Police (national): 112</p>
<p>Sea Rescue in Lisbon: 214 401 919</p>
<p>Maritime Police in Lisbon: 210 911 100</p>
<p> <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/736166/RSA_Victim_Handbook_-_online_version.pdf">Online Handbook for victims of rape and sexual assault in Portugal</a></p>
<p> <a href="http://apav.pt/vd/">ortuguese Association for Victim Support</a></p>

{% endblock %}
