{% extends "base_area_content.html" %}
{% block title %}Spain{% endblock %}
{% block header %}<h1 class="bottom-margined">Spain</h1>{% endblock %}

{% block content %}
<h3>National Information</h3>
<p>Emergency dial is 112 (European Emergency Number)</p>
<p> <a href="http://www.inmujer.gob.es/servRecursos/centrosAtencion/home.htm">Map and resource centers for women(Spainish)</a></p>
<p> <a href="http://malostratos.org/violencia-de-genero/como-actuar-ante-un-caso-de-violencia/">How to deal with a case of violence?(Spainish)</a></p>


{% endblock %}
