{% extends "base_area_content.html" %}
{% block title %}Thailand{% endblock %}
{% block header %}<h1 class="bottom-margined">Thailand</h1>{% endblock %}

{% block content %}
<h3>National Information</h3>
<p>Emergency Call 191</p>
<p>Medical emergency call – 1669</p>
<p>Fire – 199</p>
<p>Tourist Police – 1155</p>
<p><a href="http://www.apsw-thailand.org/Kanitnaree_EN.htm">Association for the Promotion of the Status of Women. </a></p>
<p>Under the Royal Patronage of HRH Princess Soamsawali</p>
<p>The Rape Crisis Center is the lastest service initiative of APSW. The center provides sensitive care and asistance to rape victims. The Center includes the medical examination room, equipped to collect evidence of sexual abuse,as well as the investigation room, outfitted with a one way mirror, closed circuit cameras and video recording equipment.</p>


{% endblock %}
