{% extends "base_area_content.html" %}
{% block title %}Turkey{% endblock %}
{% block header %}<h1 class="bottom-margined">Turkey</h1>{% endblock %}

{% block content %}
<h3>National Information</h3>
<p>Emergency Call 112</p>
<p>112 Medical emergency/ Ambulance</p>
<p>110 Fire</p>
<p>155 Police</p>
<p>154 Traffic</p>
<p>156 Gendarmerie</p>
<p>159 Highway Department</p>
<p>158 Coast Security</p>
<p>113 Medical care</p>
<p>114 Poison Emergency</p>
<p>177 Forest Fire</p>
<p> <a href="https://www.morcati.org.tr/tr/">Purple Roof Women's Shelter Foundation</a></p>


{% endblock %}
