{% extends "base_area_content.html" %}
{% block title %}United Kingdom{% endblock %}
{% block header %}<h1 class="bottom-margined">UK</h1>{% endblock %}

{% block content %}

<p>Emergency Call 999, when someone in immediate danger, or crime taking place or has one just happened.</p>
<p>National Freephone Helpline: 0808 802 9999, 12:00-14:30 daily; 19:00-21:30 daily</p>
<p><a href="https://rapecrisis.org.uk/centres.php">Rape Crisis.org England & Wales</a>. Find your nearest Rape Crisis Services</p>
<p><a href="https://www.met.police.uk/advice/advice-and-information/rsa/rape-and-sexual-assault/what-happens-after-you-report-rape-or-sexual-assault/">What happens after you report rape or sexual assault?</a></p>
<h3>Regional Information </h3>
<p>England (Lancaster/Lancashire)</p>
<p><a href="https://www.lancsteachinghospitals.nhs.uk/contact-the-safe-centre">SAFE Centre of Lancashire Teaching Hospitals.</a></p>
<p>It offers medical examination, advice and support to women, men and children who have experienced sexual assault or rape</a></p>
<p>Outpatient appointments Call: 01772 524555.</p>
<p>England (London)</p>
<p><a href="http://www.rasasc.org.uk/">Rape & Sexual Abuse Support Centre/Rape Crisis South London</a></p>
<p>Helpline: 0808 802 9999, 12:00-14:30 daily; 19:00-21:30 daily</p>
<p>Scotland</p>
<p><a href="https://www.rapecrisisscotland.org.uk/">Rape Crisis Scotland (Several languages)</a> </p>
<p>Scotland Helpline.Everyday 6pm-midnight.Free Call 08088 01 03 02</p>


{% endblock %}
