{% extends "base_area_content.html" %}
{% block title %}The United States{% endblock %}
{% block header %}<h1 class="bottom-margined">The United States</h1>{% endblock %}

{% block content %}
<h3>National Information</h3>
<p>Emergency Call 911 </p>
<p> <a href="https://www.officialgazette.gov.ph/emergency-hotlines/"> All Emergency numbers from Governmebt page.</a>. </p>
<p>Get Help 24/7 Call 800.656.4673. The nation's largest anti-sexual violence organization <a href="https://www.rainn.org/">RAINN</a>. </p>
<p>Live chat 24/7 on line <a href="https://hotline.rainn.org/online/"> Chat</a>. </p>
<p> "Out of every 1000 instances of rape, only 13 cases get referred to a prosecutor, and only 7 cases will lead to a felony conviction. No matter the final outcome, reporting increases the likelihood that the perpetrator will face consequences." </p>
<p> <a href="https://www.rainn.org/statistics/criminal-justice-system"> The Criminal Justice System Statistics Data </a>. </p>
<p> <a href="https://www.ywca.org/"> YWCA </a>. USA </p>
<p> <a href="https://www.rainn.org/articles/what-expect-criminal-justice-system"> What to Expect from the Criminal Justice System (RAINN) </a>. </p>
<p> <a href="https://pathwaystosafety.org"> Pathways to Safety </a>. Empowering victims of interpersonal & gender based violence abroad. </p>
<p> <a href="http://victimsofcrime.org/help-for-crime-victims/get-help-bulletins-for-crime-victims/civil-justice-for-victims-of-crime" > Civil Justice for Victims of Crime </a>. </p>
<p> <a href="https://www.americanbar.org/groups/domestic_violence.html" >American Bar Association </a>. Commission on Domestic & Sexual Violence </p>
<p> <a href="https://law.lclark.edu/centers/national_crime_victim_law_institute/about_ncvli/contact_us/">National Crime Victime Law Institute.Protecting,Enforcing, & Advancing Victims' rights.</a>NCVLI works to ensure that victims of crime are informed of their rights and can find resources to protect their rights. We provide general information on our website about the rights of crime victims and also provide referral information to other agencies that may be able to provide direct assistance. NCVLI does not provide legal advice to victims, cannot conduct research on individual victims’ cases, and cannot serve as an individual victim’s attorney. </p>
<p> <a href="https://law.lclark.edu/centers/national_crime_victim_law_institute/about_ncvli/know_your_rights.php">Know your rights as victim</a></p>
<p> <a href="https://www.youtube.com/watch?v=AsnbJff4TKU">Victims Can Have Attorneys (Vedio 4:33)</a></p>
<p>This Quicktool explains what a victims’ rights attorney is and how they can help victims navigate the criminal justice system.
</p>
<p> <a href="https://victimconnect.org/">Victime connect.org</a>Call 855 484 2846.Confidential referrals for crime victims.</p>
<p> KAN-WIN是美国中西部唯一一家提供全年全天候24小时韩中英三语家暴性侵电话热线的机构， 24小时电话热线, Hotline: 773-583-0880 (English, Chinese, Korean) </p>

<h3>California</h3>
<p> <a href="http://www.edmontonpolice.ca/CommunityPolicing/PersonalPropertyCrimes/SexualAssault/ReportingSexualAssault"> What you can expect when reporting a sexual assault </a>.</p>
<p> To help the police gather evidence, DO NOT:</p>
<p> shower or bathe;</p>
<p> change or throw away your clothes;</p>
<p> wash your hands or comb your hair;</p>
<p> take any drugs or alcohol</p>
<p> disturb the area of the occurrence</p>
<p>There is no time limit for reporting and/or laying charges for a sexual assault. But in any case, the sooner you call the police, the easier it is for them to collect the evidence needed to prove the charge.</p>
<p>For the preservation of evidence it is best if you do not disturb the area of the occurrence, change your clothes or wash before reporting to the police. However you can report the occurrence at any time.</p>

<p> <a href="https://www.bawar.org/"> Bay Area Women Against Rape </a>. 24/7 Call 510 845 7273 </p>
<p> <a href="http://ywca-sv.org/"> YWCA Silicon Valley </a>. 24/7 Call 800 572 2782. Legal team: 408 749 0793 (9am-5pm).</p>
<p> <a href="https://baylegal.org/">Bay Area Legal Aid.</a> Call 888 330 1940 </p>
<p> <a href="http://laaconline.org/">The Legal Aid Association of California</a>Call 510 893 3000</p>
<p> <a href="http://www.calbar.ca.gov/">The State Bar of California</a></p>
<p> <a href="https://sccba.site-ym.com/default.aspx">Santa Clara County Bar Association.</a>Call 408 971 6822</p>
<p> <a href="https://www.sccgov.org/sites/da/victimservices/vsu/pages/default.aspx">Victim Services Unit, County of Santa Clara</a>Call 408 295 2656</p>
<p> <a href="https://dv.aaci.org/">Asian Women's Home </a>24/7 Hotline: 408 975 2739.Serves survivors of domestic violence and human trafficking is a program of Asian Americans for Community Involvement (AACI). </p>
<p> <a href="http://santaclara.networkofcare.org/mh/services/agency.aspx?pid=YWCASiliconValleyFamilyJusticeCenterNorthCounty_356_2_0">Family Justice Center - North County</a>Call 408 749 0793.</p>
<p> <a href="http://victimsofcrime.org/docs/NCVBA/ca-cj-2012.pdf?sfvrsn=2"> Civil Justice for Victims of crime in California </a>. The National Crime Victim Bar Association </p>
<p> <a href="https://leginfo.legislature.ca.gov/faces/codes_displaySection.xhtml?lawCode=PEN&sectionNum=261.5.)"> How "Sexual Assault" defined by Criminal Law in California </a>. </p>
<p> <a href="https://victims.ca.gov/victims/"> California Victim Compensation Board — CalVCB </a>. </p>
<p> <a href="https://www.probono.net/sf/volunteer/item.cooperative_restraining_order_clinic_croc"> Probono.net</a>.Bay Area lawyers serving the public good.</p>
<p> <a href="https://www.womenslaw.org/find-help/ca/finding-lawyer/legal-assistance/S"> Legal Assitance in California </a>. WomenLaw.org </p>
<p> <a href="https://www.sandiegocounty.gov/hhsa/programs/phs/emergency_medical_services/sexual_assault_response_team.html">Sexual Assault Response Team - County of San Diego </a>.</p>

<h3>New York</h3>
<p> <a href="https://www.health.ny.gov/prevention/sexual_violence/">Sexual Violence Prevention Program - New York State Department of Health</a>.</p>
<p> <a href="http://nyscasa.org/get-help/find-your-local-rape-crisis-program/">New York State Coalition Against Sexual Assault</a>If you have been sexually assaulted–call the New York State Hotline for Sexual Assault and Domestic Violence.1-800-942-6906.</p>
<p> <a href="http://www.svfreenyc.org/">New York City Alliance Against Sexual Assault</a></p>

<h3>New Jersey</h3>
<p> <a href="http://www.ywcabergencounty.org/"> YWCA Bergen County </a>. 24/7 HOTLINE 201-487-2227</p>
<p> A Sexual Violence Resource Center, Email: healingspace@ywcabergencounty.org </p>

<h3>Florida</h3>
<p> <a href="https://www.fcasv.org/find-your-local-center"> Find Your Local Center | Florida Council Against Sexual Violence </a>.</p>


{% endblock %}
