{% extends "base.html" %}
{% block title %}USA{% endblock %}
{% block content %}
<h1>USA</h1>

<h3>National Information</h3>
<p>Call 911 if you are in emerency.
Please make sure you are reporting from a safe place. </p>
<p>Get Help 24/7 Call 800.656.4673. The nation's largest anti-sexual violence organization <a href="https://www.rainn.org/">RAINN</a>. </p>
<p>Live chat 24/7 on line <a href="https://hotline.rainn.org/online/"> Chat</a>. </p>
<p> "Out of every 1000 instances of rape, only 13 cases get referred to a prosecutor, and only 7 cases will lead to a felony conviction. No matter the final outcome, reporting increases the likelihood that the perpetrator will face consequences." </p>
<p> <a href="https://www.rainn.org/statistics/criminal-justice-system"> The Criminal Justice System Statistics Data </a>. </p>
<p> <a href="https://www.ywca.org/"> YWCA </a>. USA </p>
<p> <a href="https://www.rainn.org/articles/what-expect-criminal-justice-system"> What to Expect from the Criminal Justice System (RAINN) </a>. </p>
<p> <a href="https://pathwaystosafety.org"> Pathways to Safety </a>. Empowering victims of interpersonal & gender based violence abroad. </p>
<p> <a href="http://victimsofcrime.org/help-for-crime-victims/get-help-bulletins-for-crime-victims/civil-justice-for-victims-of-crime" > Civil Justice for Victims of Crime </a>. </p>
<p> KAN-WIN是美国中西部唯一一家提供全年全天候24小时韩中英三语家暴性侵电话热线的机构， 24小时电话热线, Hotline: 773-583-0880 (English, Chinese, Korean) </p>

<h3>California</h3>
<p> <a href="https://www.bawar.org/"> Bay Area Women Against Rape </a>. 24/7 Call 510 845 7273 </p>
<p> <a href="http://ywca-sv.org/"> YWCA Silicon Valley </a>. 24/7 Call 800 572 2782</p>
<p> <a href="http://victimsofcrime.org/docs/NCVBA/ca-cj-2012.pdf?sfvrsn=2"> Civil Justice for Victims of crime in California </a>. The National Crime Victim Bar Association </p>
<p> <a href="https://leginfo.legislature.ca.gov/faces/codes_displaySection.xhtml?lawCode=PEN&sectionNum=261.5.)"> How "Sexual Assault" defined by Criminal Law in California </a>. </p>
<p> <a href="https://victims.ca.gov/victims/"> California Victim Compensation Board — CalVCB </a>. </p>

<h3>New Jersey</h3>
<p> <a href="http://www.ywcabergencounty.org/"> YWCA Bergen County </a>. 24/7 HOTLINE 201-487-2227</p>
<p> A Sexual Violence Resource Center, Email: healingspace@ywcabergencounty.org </p>


{% endblock %}
