{% extends "base_header_and_footer.html" %}

{% block body %}
<div id="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2">
      {% block header %}{% endblock %}
      {% block content %}{% endblock %}
      <ul>
        <li><a href="/infos/australia.html">Australia</a></li>
        <li><a href="/infos/austria.html">Austria</a></li>
        <li><a href="/infos/belgium.html">Belgium</a></li>
        <li><a href="/infos/china.html">China</a></li>
        <li><a href="/infos/colombia.html">Colombia</a></li>
        <li><a href="/infos/finland.html">Finland</a></li>
        <li><a href="/infos/france.html">France</a></li>
        <li><a href="/infos/germany.html">Germany</a></li>
        <li><a href="/infos/hungary.html">Hungary</a></li>
        <li><a href="/infos/india.html">India</a></li>
        <li><a href="/infos/indonesia.html">Indonesia</a></li>
        <li><a href="/infos/italy.html">Italy</a></li>
        <li><a href="/infos/japan.html">Japan</a></li>
        <li><a href="/infos/laos.html">Laos</a></li>
        <li><a href="/infos/malaysia.html">Malaysia</a></li>
        <li><a href="/infos/mexico.html">Mexico</a></li>
        <li><a href="/infos/netherlands.html">Netherlands</a></li>
        <li><a href="/infos/norway.html">Norway</a></li>
        <li><a href="/infos/philippines.html">Philippines</a></li>
        <li><a href="/infos/poland.html">Poland</a></li>
        <li><a href="/infos/portugal.html">Portugal</a></li>
        <li><a href="/infos/singapore.html">Singapore</a></li>
        <li><a href="/infos/slovakia.html">Slovakia</a></li>
        <li><a href="/infos/southkorea.html">Southkorea</a></li>
        <li><a href="/infos/spain.html">Spain</a></li>
        <li><a href="/infos/sweden.html">Sweden</a></li>
        <li><a href="/infos/thailand.html">Thailand</a></li>
        <li><a href="/infos/turkey.html">Turkey</a></li>
        <li><a href="/infos/uk.html">United Kingdom</a></li>
        <li><a href="/infos/usa.html">United States</a></li>
        <li><a href="/infos/vatican.html">Vatican</a></li>
        <li><a href="/infos/vietnam.html">Vietnam</a></li>
        <br/>
        <li><a href="/">Index</a></li>
      </ul>
  </div>
</div>
{% endblock %}
