{% extends "base_area_content.html" %}
{% block title %}Give Voice Against Sexual Assault{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block header %}
<h1>Give Your Voice! </h1>
<h4 class="bottom-margined">The 1st step for survivors to <strong>seek help</strong> and <strong>pursue justice</strong>.</h4>
{% endblock %}
{% block content %}
<img src="/static/images/logo.png" alt=”Logo”></img>
<p>We are creating this website as volunteers, we want to make a good change by providing global helpful information!</p>
<p>The founder S.T. wants to help and encourage people to give their voices against sexual assault crimes.</p>
<p>Henry handles the technical aspects of managing the backend of this website.</p>
<p>Hikari who designed the logo, hopes this website can help people all over the world tell what happened on them and find useful information.</p>
<p style="color: red;">Please note: We do not provide any legal advice.</p>
<p><a href="http://www.hotpeachpages.net">International Directory of Domestic Violence Agencies</a> (All languages)</p>


<p>The information from all countries are searched by volunteer members. This website might be updated at anytime, we do our best to provide newest information for you to contact.</p>
{% endblock %}



