{% extends "base_area_content.html" %}
{% block title %}Give Voice Against Sexual Assault{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block header %}
<h1>Give Your Voice! </h1>
<h4 class="bottom-margined">The 1st step for survivors to <strong>seek help</strong> and <strong>pursue justice</strong>.</h4>
{% endblock %}
{% block content %}
<img src="/static/images/logo.png" alt=”Logo” height="200"></img>
<p>Information from all countries are searched by volunteer members. Provide the newest information for you to contact.</p>
<p>Founder Steph wants to help and encourage people to give their voices against sexual assault crimes.</p>
<p>Henry handles the technical aspects of managing the backend of this website.</p>
<p>Hikari designed the logo, hopes this website help people all over the world tell what happened on them.</p>

<p><a href="http://www.hotpeachpages.net">International Directory of Domestic Violence Agencies</a> (All languages)</p>
<p style="color: red;">Please note: This website does not provide legal advice.</p>

{% endblock %}



