{% extends "base_header_and_footer.html" %}
{% block title %}Give Voice Against Sexual Assault{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
<div id="container">
      <h1>Give Your Voice! </h1>
      <h4>The 1st step for survivors to <strong>seek help</strong> and <strong>pursue justice</strong>.</h4>
  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-1">

      <p>We are creating this website as volunteers, we want to make a good change by providing global helpful information!</p>
      <p>The founder S.T. wants to help and encourage people to give their voices against sexual assault crimes.</p>
      <p>Henry handles the technical aspects of managing the backend of this website.</p>
      <p>Plesae note: We do not provide any legal advice. </p>
      <p><a href="http://www.hotpeachpages.net">International Directory of Domestic Violence Agencies</a> (All languages)</p>


      <p>The following information are searched by volunteer team members, website might be updated at anytime, we do our best to provide newest information to contact.</p>
    </div>
    <div class="col-xs-12 col-sm-2">
      <ul>
        <li><a href="infos/australia.html">Australia</a></li>
        <li><a href="infos/austria.html">Austria</a></li>
        <li><a href="infos/china.html">China</a></li>
        <li><a href="infos/colombia.html">Colombia</a></li>
        <li><a href="infos/france.html">France</a></li>
        <li><a href="infos/germany.html">Germany</a></li>
        <li><a href="infos/italy.html">Italy</a></li>
        <li><a href="infos/japan.html">Japan</a></li>
        <li><a href="infos/uk.html">United Kingdom</a></li>
        <li><a href="infos/usa.html">United States</a></li>
        <li><a href="infos/vietnam.html">Vietnam</a></li>
        <br/>
        <li><a href="http://www.givevoice.website">Index</a></li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}



